<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ahasbini.test.permission_utils">

    <!-- This permission is only requested in debug builds for testing purposes -->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE"/>

</manifest>